body, html {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff; 
    margin: 0;
    padding: 0;
    color: #202122; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
}


.query-container {
    width: 1200%;
    max-width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa; 
    border: 2px solid #ccc; 
    margin-bottom: 20px; 
    border-radius: 5px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    > * {
        margin: 0 10px;
    }
}

#queryBox {
    width: 100%;
    height: 450px;
    font-size: 16px;
    padding: 12px;
    border: 2px solid #ccc; 
    box-shadow: none;
    border-radius: 5px;
    background-color: #fff;
    color: #202122;
}

#runQuery {
    background-color: rgb(130, 130, 130);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

#clearQuery {
    background-color: rgb(130, 130, 130);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

.results-container {
    width: 1200%; 
    max-width: 800px; 
    padding: 20px;
    height: 270px;
    background-color: #f7f7f7;
    border: 2px solid #ccc; 
    margin-top: 20px; 
    border-radius: 5px;
}

.result-item {
    border-bottom: 1px solid #ccc; 
    padding: 10px 0;
    color: #202122;
}
